<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index Page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit minima ea praesentium itaque incidunt dolorum non esse officiis culpa voluptatem blanditiis, dolores quae, ipsam ab cupiditate placeat dolorem illo ex!
    Sunt nisi nulla quas eius obcaecati ducimus dolores porro voluptas ad, quod libero maiores molestias maxime assumenda accusantium consectetur? Recusandae totam voluptatibus error nesciunt omnis, neque expedita accusantium sint nisi?</p>
</body>
</html>