<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>My favorite random number <%="hello".toUpperCase() %> </h1> -->
    <!-- <h1>My favorite random number <%=Math.floor(Math.random()*100)%> </h1> -->
    <h1>My favorite random number <%=randomnum%> </h1>
    <%if(randomnum%2===0){%>
        <h1>even number</h1>
    <% }else { %>
        <h1>odd number</h1>
    <% } %>
    
</body>
</html>